# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtualenv / środowisko wirtualne
venv/
.env.*

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Pliki generowane / export
data/
*.xlsx
*.csv
*.log

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Testy / cache
.pytest_cache/
.coverage
